*{

    margin: 0;
    padding: 0;

}

body {

height: 100vh;
background-color:rgb(253, 148, 183);
background-size: cover;
background-repeat: no-repeat;
background-attachment: fixed;
color:rgb(255, 255, 255);

}

.cabecalho {

padding: 2% 0% 2% 35%;

}

.display:flex;
gap: 170px;

}

.cabecalho-menu-links{

 font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', Arial, sans-serif; 
 font-size: 28px;
 font-weight: 600; 
 color: rgb(0, 0, 0);   
text-decoration: none;

}

.titulo-destaque {

color:black

}

.conteudo {

height: auto;
flex-direction: column;
margin: 10%;
display: flex;
align-items: center;
justify-content: space-between;
margin-bottom: 15px;

}

